@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dark .projects {
    transition: all 0.5s;
    color: $medium-light-color;

    &__section {
        transition: all 0.5s;
        border-bottom: 1px solid $medium-dark-color;
    }
}

.dark .card {
    &__link {
        transition: all 0.5s;
        color: $medium-light-color;
    }

    &__tag {
        transition: all 0.5s;
        background: $medium-dark-color;
    }
}

.dark .link {
    color: $medium-light-color;

    &__a {
        color: $medium-light-color;
    }
}

.projects {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: $medium-dark-color;
    margin-top: 10rem;
    max-width: 57rem;

    &__title {
        font-family: $header-font;
        font-weight: 600;
        font-size: 2.5rem;
        // position: sticky;
        // top: 6rem;

        @include tablet {
            font-size: 3rem;
            margin: 4rem 1rem 1rem 1rem;
        }
    }

    &__section {
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $medium-light-color;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 0.5rem 2.5rem 0.5rem;

    @include tablet {
        max-width: 20rem;
    }

    &__images {
        display: flex;
        position: relative;
        align-self: center;
    }

    &__laptop {
        width: 18rem;
        height: 16rem;
        align-self: center;
        object-fit: cover;
        object-position: center;
        margin-top: -1.5rem;
    }


    &__phone {
        width: 4rem;
        height: 10rem;
        align-self: center;        
        object-fit: cover;
        position: absolute;
        top: 4rem;
        left: 1rem;
    }

    &__title {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 600;
        margin: -1rem 0 0.5rem 0;

        &--linked {
            margin: -1rem 0 0.2rem 0;
        }

        @include tablet {
            &--not-linked {
                margin-bottom: 2.2rem;
            }
        }
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    &__tag {
        transition: all 0.5s;
        background: $medium-light-color;
        margin: 0 0.25rem 0.25rem 0;
        padding: 0.25rem;
        border-radius: 3px;
    }
}

.link {
    transition: all 0.5s;
    // height: 1.5rem;
    // width: 9rem;
    // background: $medium-dark-color;
    // border-radius: 3px;
    // padding-top: 0.22rem;
    // display: flex;
    position: relative;
    text-align: center;
    color: $medium-dark-color;
    margin-bottom: 0.5rem;

    &__a {
        color: $medium-dark-color;
    }

    &__title {
        margin-right: 0.25rem;
    }

    &__icon {
        position: relative;
        top: 0.175rem;
    }
}