@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.icons-header .bio {

    &__icons {
        visibility: hidden;
    }
}

.dark .bio {
    transition: all 0.5;
    color: $medium-light-color;

    &__p {
        transition: all 0.5s;
    }
}

.bio {
    transition: all 0.5s;
    display: flex;
    padding: 1rem;
    color: $medium-dark-color;
    width: 85%;
    max-width: 45rem;
    position: relative;
    margin-top: 4rem;

    @include tablet {
        width: 33rem;
    }

    @include desktop {
        width: 36rem;
    }

    &__text {
        width: 19rem;
        color: $medium-light-color;

        @include tablet {
            width: 20rem;
        }

        &--box {
            background: $medium-light-color;
            width: 90%;
            max-width: 19rem;
            height: 85%;
            position: absolute;
            top: 1.5rem;
            z-index: 1;

            @include tablet {
                max-width: 30rem;
            }
        }
    }

    &__header {
        transition: all 0.5s;
        font-family: $header-font;
        color: $white;
        font-weight: 600;
        font-size: 2.5rem;
        padding: 2rem 1rem 0 1rem;
        position: relative;
        z-index: 10;

        @include tablet {
            font-size: 3rem;
            padding-left: 1.5rem;
        }
    }

    &__p {
        transition: all 0.5s;
        color: $white;
        font-size: 1rem;
        line-height: 1.25;
        padding: 1rem;
        position: relative;
        z-index: 10;

        @include tablet {
            padding-left: 1.5rem;
        }
    }

    &__pic {
        width: 14rem;
        height: 13rem;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 9rem;
        right: 0;
        z-index: 15;

        @include tablet {
            top: 3.25rem;
            right: 0;
            width: 18rem;
            height: 18rem;
        }

        @include desktop {
            height: 20rem;
            width: 21rem;
        }

        &--box {
            background: $light-color;
            width: 13.5rem;
            height: 100%;
            position: absolute;
            top: 8.5rem;
            right: 0;
            z-index: 0;

            @include tablet {
                width: 53%;
            }

            @include desktop {
                height: 116%;
                width: 20rem;
            }
        }
    }

    &__icons {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: -8.7rem;
        right: 14.5rem;

        @include tablet {
            right: 18rem;
        }

        @include desktop {
            bottom: -10rem;
            right: 21rem;
        }
    }

    &__icon {
        width: 2.3rem;
        height: 2.3rem;
        margin-bottom: 0.5rem;

        &:hover {
            opacity: 0.7;
        }

        @include desktop {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}