
@font-face {
    font-family: PlayfairDisplay;
    src: url('../../assets/Fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url('../../assets/Fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url('../../assets/Fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: IBMPlexSansJP;
    src: url('../../assets/Fonts/IBMPlexSansJP/IBMPlexSansJP-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: IBMPlexSansJP;
    src: url('../../assets/Fonts/IBMPlexSansJP/IBMPlexSansJP-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: IBMPlexSansJP;
    src: url('../../assets/Fonts/IBMPlexSansJP/IBMPlexSansJP-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: IBMPlexSansJP;
    src: url('../../assets/Fonts/IBMPlexSansJP/IBMPlexSansJP-Light.ttf');
    font-weight: 300;
}