@use './typography' as *;

// colors
$white: #ffffffdb;
// $light-color: #E1BBB7;
$light-color: #bc615b6a;
// $medium-light-color: #CC8B86;
$medium-light-color: #BC625B;
$medium-dark-color: #453637;
// $medium-dark-color: #382C2D;
$dark-color: #260202;



// $light-background: #CC8B86;
// $extra-light-background: #F9F1F1;
// $dark-background:#003b36;
// $extra-dark-background: #032320;
// // $dark-accent: #004a44;
// $dark-accent: #024943;
// // $dark-accent: #00443e;

//fonts
$main-font: Inter;
$header-font: PlayfairDisplay;
$copy-font: IBMPlexSansJP;

// phone sizing
$phone-screen-min: 360px;

// tablet sizing
$tablet-screen-min: 768px;

//desktop sizing
$desktop-screen-min: 1280px;