@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dark .contact {
    transition: all 0.5s;
    color: $medium-light-color;

    &__link {
        transition: all 0.5s;
        color: $white;
    }
}

.contact {
    transition: all 0.5s;
    padding: 1rem;
    color: $medium-dark-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 57rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        font-family: $header-font;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;

        @include tablet {
            text-align: left;
            font-size: 3rem;
        }
    }

    &__links {
        margin-bottom: 0.5rem;

        @include tablet {
            justify-content: flex-end;
        }
    }

    &__link {
        transition: all 0.5s;
        color: $medium-dark-color;

        &--email {
            margin-right: 1rem;
        }
    }
}