@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact {
    background-color: rgb(140, 203, 119);
    padding: 0.5rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__links {
        display: flex;
    }

    &__link {
        margin-right: 1rem;
    }
}