@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact {
    padding: 1rem;
    color: $dark-accent;


    &__title {
        font-family: $header-font;
        font-weight: 600;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    &__links {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    &__link {
        color: $dark-accent;

        &--email {
            margin-right: 1rem;
        }
    }
}