@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dark .header {

    &__wrapper {
        // transition: all 0.5s;
        background: $medium-dark-color;
    }

    &__title {
        color: $medium-light-color;
    }

    &__icon {

        &--mode {
            background-color: $medium-dark-color;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $header-font;
    font-weight: 600;
    max-width: 55rem;

    &__wrapper {
        background: $white;
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 20;
        padding: 1rem;
    }

    &__title {
        color: $medium-dark-color;
        font-size: 1.5rem;
        line-height: 0.9 ;
        max-width: 8rem;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__left-icons {
        &--hidden {
            display: none;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: 0.75rem;

        &--mode {
            background: $white;
        }
    }
}
