@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.icons-header .header {

    &__left-icons {
        visibility: visible;

    }
}

.dark .header {

    &__wrapper {
        transition: all 0.5s;
        background: $dark-color;
    }

    &__title {
        transition: all 0.5s;
        color: $medium-light-color;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $header-font;
    font-weight: 600;
    max-width: 55rem;

    &__wrapper {
        transition: all 0.5s;
        background: white;
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 20;
        padding: 1rem;

        @include tablet {
            height: 6rem;
            padding: 2rem;
        }

        @include desktop {
            height: 7rem;
        }
    }

    &__title {
        transition: all 0.5s;
        color: $medium-dark-color;
        font-size: 1.5rem;
        line-height: 0.9 ;
        max-width: 8rem;

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 2.2rem;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__left-icons {
        visibility: hidden;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: 0.75rem;

        @include tablet {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 1rem;
        }
    }
}
